
.hero{

    /** Layout **/
    display: flex;
    flex-direction: row;
    gap: 3px;

    /* border: 2px solid red; */
    /* margin: var(--edge-spacing) var(--edge-spacing) 0; */

}

/* -------------------------------------- */

.hero-content{

    /** Box Model **/

        /* box-sizing */
        height: 571px;

    /** Layout **/
    flex: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;

    /** Typography **/
    font-family: var(--poppins);
    font-size: 5rem;
    font-weight: 700;
}

.hero-content__contact-button{

    /** Typography **/
    font-family: var(--poppins);
    font-size: 1.5rem;
    font-weight: 700;
    color: white;

    /** Box Model **/
        /* box-background */
        background-color: black;

        /* box-border */
        border-radius: 40px;

        /* box-spacing */
        padding: 0.8em 1em;
        
        /* box-sizing */
        width: 250px;
}

/* -------------------------------------- */

.hero-image{
    /** Layout **/
    flex: 1;

    /** Box Model **/

        /* box-position */
        position: relative;


}

/* -------------------------------------- */
.hero-image-pic{

    /** Box Model **/

        /* box-border */
        border: 2px black solid;

        /* box-sizing */
        width: 400px;
        height: 400px;

        /* box-position */
        position: absolute;
        top: 90px;
        left: -200px;

}




/* -------------------------------------- */
.name-container{
    width: 100%;
    height: 100%;
}


#name-path{

    /* Stroke */
    fill: none;
    stroke: blue;
    stroke-width: 6px;

    /* Transform */
    transform: translate(200px, 10px) scale(0.5) rotate(50deg);
    
}

.name{

    /** Typography **/
    font-family: var(--poppins);
    font-size: 3rem;
    font-weight: bold;

    /** Box Model **/
        /* box-position */
        text-anchor: middle;
}


.text{
    letter-spacing: 20px;
}
